//
   Created by Nathan on 3/17/2015.

block subcontent
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapse(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Cariboutis
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Home
                    li#about
                        a(href="about") About